body{
 font-family: 'Open Sans', sans-serif; 
}

.logo{
 font-family: 'Calligraffitti', cursive;  
    font-weight:600;
}

hr{
    background-color: white;
    width: 20rem;
}

.card-title{
    font-weight: bold;
}

.color-fondo{
    background-color: #660066;
}

footer h1{
    font-family: 'Oswald',sans-serif;
}

.fab{
    font-size: 50px;
    margin-left: 0.1rem;
    color: #ffffff;
}
