body{
 font-family: 'Open Sans', sans-serif; 
}

hr{
    background-color: white;
    width: 20rem;
}

.card-title{
    font-weight: bold;
}

.color-fondo{
    background-color: #660066;
}

footer h1{
    font-family: 'Oswald',sans-serif;
}
.fab{
    font-size: 60px;
    margin-left: 25px;
    color: #ffffff;
}
